# epdlib
epdlib==0.6.5.2
colorzero==2.0
gpiozero==2.0.1
lgpio==0.2.2.0
RPi.GPIO==0.7.1
spidev==3.8

# ePaper library
-e "git+https://github.com/tomkins/waveshare-epaper.git@d86341d4efc144146537489b96927b3c1273079f#egg=waveshare_epd&subdirectory=RaspberryPi_JetsonNano/python"
Pillow==12.2.0

# Human readable formats
humanize==4.15.0

# HTTP requests
requests==2.34.2
certifi==2026.5.20
charset-normalizer==3.4.7
idna==3.18
urllib3==2.7.0
